# ------------------------------------------------------------
# TEST ENVIRONMENT VARIABLES
# These values are for testing purposes only.
# "Substitute" is used to prefill or replace values automatically.
# Do NOT use this file in production environments.
# ------------------------------------------------------------

DOMAIN_NAME=${DOMAIN_NAME}
XRAY_PATH=${XRAY_PATH}
XRAY_UUID=${XRAY_UUID}
CLOUDFLARE_AUTH_TOKEN=${CLOUDFLARE_AUTH_TOKEN}
XRAY_VERSION=latest
WGCF_VERSION=latest
ENABLE_CADDY_LOG=False
ENABLE_WARP=True
ENABLE_IPV6=False
PORT=443
FINGERPRINT=chrome